<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConstructProcessID" value="2339bd10-a933-41cc-b684-34b15d7516e6"/>
  </appSettings>

    <system.serviceModel>
      
        <bindings>
            <wsDualHttpBinding>
                <binding name="duplexendpoint" />
            </wsDualHttpBinding>
        </bindings>
      
        <client>
            <endpoint address="http://localhost:15000/00000000-0000-0000-0000-000000000000/Data/DataService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="duplexendpoint"
                contract="DataServiceReference.IModel" name="duplexendpoint">
            </endpoint>
        </client>
      
    </system.serviceModel>
</configuration>