/SeeingMachinesVisualization/Models
/SeeingMachinesVisualization/Data
/SeeingMachinesVisualization/Data Samples

# User-specific files
*.suo
*.user
*.sln.docstates

# 
Telerik.OpenAccess/

# Build results
[Dd]ebug/
[Rr]elease/
bin/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
*.dotCover
*.cachefile

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf

# Visual Studio profiler
*.psess
*.vsp
