<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Columbia.CCF.UI.Properties.Settings.CCFConnectionString"
            connectionString="Data Source=daisy.colum.edu;Initial Catalog=CCF;Persist Security Info=True;User ID=CCF;Password=!!thewoodsarelovelydarkanddeep??"
            providerName="System.Data.SqlClient" />
        <add name="Columbia.CCF.UI.ControlPanel.Properties.Settings.CCFConnectionString"
            connectionString="Data Source=daisy.colum.edu;Initial Catalog=CCF;Persist Security Info=True;User ID=CCF;Password=!!thewoodsarelovelydarkanddeep??"
            providerName="System.Data.SqlClient" />
        <add name="Columbia.CCF.UI.ControlPanel.Properties.Settings.CCFConnectionString1"
            connectionString="Data Source=daisy.colum.edu;Initial Catalog=CCF;Persist Security Info=True;User ID=ccf;Password=!!thewoodsarelovelydarkanddeep??"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
