<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IModel" />
            </netNamedPipeBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IModel" />
            </wsDualHttpBinding>
        </bindings>
      
        <client>
            <endpoint address="net.pipe://localhost/00000000-0000-0000-0000-000000000000/Visualizations/VisualizationsService.svc"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IModel"
                contract="VisualizationsServiceReference.IModel" name="NetNamedPipeBinding_IModel">
                <identity>
                    <userPrincipalName value="T-MBP\tyler" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:12000/00000000-0000-0000-0000-000000000000/Visualizations/VisualizationsService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IModel"
                contract="VisualizationsServiceReference.IModel" name="WSDualHttpBinding_IModel">
                <identity>
                    <userPrincipalName value="T-MBP\tyler" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
