@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    Video Sensor Service is online.
    <div>
    
    
    </div>
</body>
</html>
