<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITransponder" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:13555/Transponder.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITransponder" contract="TransponderService.ITransponder"
                name="BasicHttpBinding_ITransponder" />
        </client>
    </system.serviceModel>
</configuration>