<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Emgu.Util" publicKeyToken="7281126722AB4438" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.3.2.1495" newVersion="2.3.2.1495"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Emgu.CV" publicKeyToken="7281126722AB4438" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.3.2.1495" newVersion="2.3.2.1495"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
