<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
      <add name="Construct3Connection" connectionString="data source=daisy.colum.edu;initial catalog=Construct3;persist security info=True;user id=Construct;password=ConstructifyConstructifyConstructify" providerName="System.Data.SqlClient" />
      <add name="CONSTRUCT1\Tyler" connectionString="data source=daisy.colum.edu;initial catalog=Construct3TK;user id=Construct;password=ConstructifyConstructifyConstructify" providerName="System.Data.SqlClient" />
      <add name="CONSTRUCT1\Chris" connectionString="data source=daisy.colum.edu;initial catalog=Construct3CC;user id=Construct;password=ConstructifyConstructifyConstructify" providerName="System.Data.SqlClient" />
      <add name="CONSTRUCT1\DaveG" connectionString="data source=daisy.colum.edu;initial catalog=Construct3DG;user id=Construct;password=ConstructifyConstructifyConstructify" providerName="System.Data.SqlClient" />
      <add name="CONSTRUCT1\THess" connectionString="data source=daisy.colum.edu;initial catalog=Construct3TH;user id=Construct;password=ConstructifyConstructifyConstructify" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    
    <bindings>
      <wsDualHttpBinding>
        <binding name="duplexendpoint" />
      </wsDualHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost:15000/00000000-0000-0000-0000-000000000000/Data/DataService.svc"
          binding="wsDualHttpBinding" bindingConfiguration="duplexendpoint"
          contract="DataServiceReference.IModel" name="duplexendpoint">
      </endpoint>
    </client>
    
  </system.serviceModel>
  <appSettings>
    <add key="vEnhancePath" value="C:\Construct\Assemblies"/>
  </appSettings>
</configuration>