<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Construct3Connection" connectionString="data source=daisy.colum.edu;initial catalog=Construct3;persist security info=True;user id=Construct;password=ConstructifyConstructifyConstructify" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="vEnhancePath" value="C:\Construct\Assemblies" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
		<bindings>
			<mexNamedPipeBinding>
				<binding name="basicNamedPipe" />
			</mexNamedPipeBinding>
			<basicHttpBinding>
				<binding name="basicHttpBinding">
				</binding>
			</basicHttpBinding>
			<mexHttpBinding>
				<binding name="mexHttpBinding" />
			</mexHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="svcbh">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="Construct.Server.Services.Questions.Service" behaviorConfiguration="svcbh">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:11000/00000000-0000-0000-0000-000000000000/Questions/" />
					</baseAddresses>
				</host>

				<endpoint name="duplexendpoint" address="" binding="wsDualHttpBinding" contract="Construct.Server.Models.Questions.IModel" />
				<endpoint name="MetaDataTcpEndpoint" address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="false" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
