<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="duplexendpoint" />
      </wsDualHttpBinding>
    </bindings>
    
    <client>
      <endpoint address="http://localhost:9000//00000000-0000-0000-0000-000000000000/Sources/SourcesService.svc"
          binding="wsDualHttpBinding" bindingConfiguration="duplexendpoint"
          contract="SourcesServiceReference.IModel" name="duplexendpoint" />
    </client>

    <client>
      <endpoint address="http://localhost:15000/00000000-0000-0000-0000-000000000000/Data/DataService.svc" 
          binding="wsDualHttpBinding" bindingConfiguration="duplexendpoint" 
          contract="DataServiceReference.IModel" name="duplexendpoint" />
    </client>
  </system.serviceModel>
</configuration>