<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ConstructGameDB" connectionString="Data Source=Daisy.colum.edu;Initial Catalog=CCF;User ID=CCF;Password=!!thewoodsarelovelydarkanddeep??;Application Name='ConstructTcpServer'" providerName="System.Data.SqlClient"/>
		<!--<add name="ConstructGameDB"
				connectionString="Data Source=.\sqlexpress;Initial Catalog=CCF;User ID=CCF;Password=CCF;Application Name='ConstructTcpServer'"
				providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<appSettings>
		<add key="TcpPort" value="1234"/>
		<!-- Wait 300 minutes for the StartPlay event from the game -->
		<add key="BeforeStartPlayTimeout" value="18000000"/>
		<!-- Wait 60 minutes for commands after the StartPlay event from the game -->
		<add key="AfterStartPlayTimeout" value="3600000"/>
		<add key="DBLoggerThreadCount" value="2"/>
		<add key="GameDataPath" value=".\Data"/>
		<add key="ServerMediaPath" value="C:\mediacache"/>
		<add key="Player" value="Server"/>
		<add key="GameApp" value="C:\ConstructGame\game\construct.exe"/>
	</appSettings>
	<system.diagnostics>
		<trace autoflush="true" indentsize="0"></trace>
		<switches>
			<!-- This switch controls general messages. In order to 
         receive general trace messages change the value to the 
         appropriate level. "1" gives error messages, "2" gives errors 
         and warnings, "3" gives more detailed error information, and 
         "4" gives verbose trace information -->
			<add name="TraceLevelSwitch" value="0"/>
		</switches>
	</system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
