<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
				<binding name="NetNamedPipeBinding_IModel">
					<readerQuotas maxStringContentLength="65535"/>
				</binding>
            </netNamedPipeBinding>
            <wsDualHttpBinding>
              <binding name="duplexendpoint">
				  <readerQuotas maxStringContentLength="65535"/>
              </binding>
				
              <binding name="WSDualHttpBinding_IModel">
				  <readerQuotas maxStringContentLength="65535"/>
              </binding>
            </wsDualHttpBinding>
        </bindings>
      
        <client>
            <endpoint address="http://localhost:9000/00000000-0000-0000-0000-00000000000/Sources/SourcesService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="duplexendpoint"
                contract="SourcesServiceReference.IModel" name="duplexendpoint" />
            <endpoint address="net.pipe://localhost/00000000-0000-0000-0000-000000000000/Sources/SourcesService.svc"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IModel"
                contract="SourcesServiceReference.IModel" name="NetNamedPipeBinding_IModel">
                <identity>
                    <userPrincipalName value="TCPC\Tyler" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9000/00000000-0000-0000-0000-000000000000/Sources/SourcesService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IModel"
                contract="SourcesServiceReference.IModel" name="WSDualHttpBinding_IModel">
                <identity>
                    <userPrincipalName value="TCPC\Tyler" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>