<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpEndpoint1" />
                <binding name="basicHttpEndpoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/Credentials/CredentialsService.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttpEndpoint1"
                contract="Construct.Credentials.Model.IModel" name="basicHttpEndpoint1" />
            <endpoint address="http://daisy.colum.edu:8000/Credentials/CredentialsService.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttpEndpoint"
                contract="ConstructCredentialsService.IModel" name="basicHttpEndpoint" />
        </client>
    </system.serviceModel>
</configuration>