<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Construct3Connection" connectionString="data source=daisy.colum.edu;initial catalog=Construct3;persist security info=True;user id=Construct;password=ConstructifyConstructifyConstructify" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>