<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="pipeEndpointBinding" />
      </netNamedPipeBinding>
      <wsDualHttpBinding>
        <binding name="duplexEndpointBinding" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/00000000-0000-0000-0000-000000000000/Data/DataService.svc" binding="netNamedPipeBinding" bindingConfiguration="pipeEndpointBinding" contract="DataServiceReference.IModel" name="dataNetNamedPipeEndpoint" />
      <endpoint address="http://localhost:15000/00000000-0000-0000-0000-000000000000/Data/DataService.svc" binding="wsDualHttpBinding" bindingConfiguration="duplexEnpointBinding" contract="DataServiceReference.IModel" name="dataDuplexEndpoint" />
      <endpoint address="net.pipe://localhost/00000000-0000-0000-0000-000000000000/Visualizations/VisualizationsService.svc" binding="netNamedPipeBinding" bindingConfiguration="pipeEndpointBinding" contract="VisualizationsServiceReference.IModel" name="visualizationsNetNamedPipeEndpoint" />
      <endpoint address="http://localhost:12000/00000000-0000-0000-0000-000000000000/Visualizations/VisualizationsService.svc" binding="wsDualHttpBinding" bindingConfiguration="duplexEndpointBinding" contract="VisualizationsServiceReference.IModel" name="visualizationsDuplexEndpoint" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="ConstructLocal" connectionString="data source=(localdb)\v11.0;initial catalog=Construct;persist security info=True;user id=Construct;password=Constructify" providerName="System.Data.SqlClient" />
    
    <add name="Construct3Connection" connectionString="data source=daisy.colum.edu;initial catalog=Construct3;persist security info=True;user id=Construct;password=ConstructifyConstructifyConstructify" providerName="System.Data.SqlClient" />
    <add name="Construct3TC" connectionString="data source=(local);initial catalog=Construct3;persist security info=True;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="Construct3DG" connectionString="data source=daisy.colum.edu;initial catalog=Construct3DG;persist security info=True;user id=Construct;password=ConstructifyConstructifyConstructify" providerName="System.Data.SqlClient" />
    <add name="Construct3TK" connectionString="data source=daisy.colum.edu;initial catalog=Construct3TK;persist security info=True;user id=Construct;password=ConstructifyConstructifyConstructify" providerName="System.Data.SqlClient" />
    <add name="Construct3TH" connectionString="data source=daisy.colum.edu;initial catalog=Construct3TH;persist security info=True;user id=Construct;password=ConstructifyConstructifyConstructify" providerName="System.Data.SqlClient" />
    <add name="Construct3CC" connectionString="data source=daisy.colum.edu;initial catalog=Construct3CC;persist security info=True;user id=Construct;password=ConstructifyConstructifyConstructify" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="vEnhancePath" value="C:\Construct\Assemblies" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>