<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="4.5.4" targetFramework="net40" />
  <package id="NLog" version="3.1.0.0" targetFramework="net40" />
  <package id="SignalR.Hosting.Common" version="0.5.2" targetFramework="net40" />
  <package id="SignalR.Hosting.Self" version="0.5.2" targetFramework="net40" />
  <package id="SignalR.Server" version="0.5.2" targetFramework="net40" />
</packages>