<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint binding="wsDualHttpBinding" contract="DataServiceReference.IModel" name="duplexendpoint"
          address="http://localhost:15000/00000000-0000-0000-0000-000000000000/Data/DataService.svc">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>