<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="Debugger"
          name="debugger"
           />
    <target name="console" xsi:type="Console" />
    <target name="logfile" xsi:type="File" fileName="Construct.log" />
    <target name="file" xsi:type="File"   layout="${longdate}|${level}|${callsite}|${logger}|${threadid}|${windows-identity:domain=false}--${message} ${exception:format=message,stacktrace:separator=*"  fileName="c:\construct\logs\myapplication.log" />
    <target name="database" type="Database">
      <connectionString>
        Data Source=daisy.colum.edu;Initial Catalog=nLog;User Id=loggerAgent;Password=loggerLogger2001;
      </connectionString>
      <commandText>
        insert into system_logging(log_date,log_level,log_logger,log_message,log_machine_name, log_user_name, log_call_site, log_thread, log_exception, log_stacktrace) values(@time_stamp, @level, @logger, @message,@machinename, @user_name, @call_site, @threadid, @log_exception, @stacktrace);
      </commandText>
      <parameter name="@time_stamp" layout="${longdate}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@user_name" layout="${windows-identity:domain=true}"/>
      <parameter name="@call_site" layout="${callsite:filename=true}"/>

      <parameter name="@threadid" layout="${threadid}"/>
      <parameter name="@log_exception" layout="${exception}"/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>

    </target>
    <target xsi:type="EventLog"
				 name="event"
				 layout="${message}"
				 source="Construct.Server.Services.Data"
				 eventId="555"
				 log="Application"
					 />
  </targets>

  <rules>
    <logger name="*" minLevel="Trace" writeTo="debugger" />
    <logger name="*" minLevel="Trace" writeTo="console" />
    <logger name="*" minLevel="Trace" writeTo="event" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <!--<logger name="*" minlevel="Trace" appendTo="database"/>-->
  </rules>
</nlog>