<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Construct3Connection" connectionString="data source=daisy.colum.edu;initial catalog=Construct3;user id=Construct;password=ConstructifyConstructifyConstructify" providerName="System.Data.SqlClient" />
    <add name="CONSTRUCT1\Tyler" connectionString="data source=daisy.colum.edu;initial catalog=Construct3TK;user id=Construct;password=ConstructifyConstructifyConstructify" providerName="System.Data.SqlClient" />
    <add name="CONSTRUCT1\Chris" connectionString="data source=daisy.colum.edu;initial catalog=Construct3CC;user id=Construct;password=ConstructifyConstructifyConstructify" providerName="System.Data.SqlClient" />
    <add name="CONSTRUCT1\DaveG" connectionString="data source=daisy.colum.edu;initial catalog=Construct3DG;user id=Construct;password=ConstructifyConstructifyConstructify" providerName="System.Data.SqlClient" />
    <add name="CONSTRUCT1\THess" connectionString="data source=daisy.colum.edu;initial catalog=Construct3TH;user id=Construct;password=ConstructifyConstructifyConstructify" providerName="System.Data.SqlClient" />
  </connectionStrings>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>